.table,
th,
td {
    width: 100%;
    border: 1px solid black;
    overflow: auto;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

td:hover {
    background-color: #ffa;
}

td:hover::after,
th:hover::after {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.5;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

.scroll-table {
    overflow-y: scroll;
    height: 300px;
}

.space-final-scroll {
    height: 40%;
}

::-webkit-scrollbar {
    width: 0px;
}