.container {
    padding: 5%;
    width: 70%;
    height: 100%;
    margin: auto;
}

body {
    background-image: url('../bkpokemon2.svg');
    background-repeat: repeat-x;
    background-size: 1920px 1080px;
    background-size: cover;
}


@media (max-width: 640px) {

    .stick-control,
    .buttons-control {
        display: none !important;
    }

    .screen-two {
        width: 90% !important;
    }

    .footer {
        margin-top: 10px !important;
        width: 90% !important;
        height: 40px !important;
        background-color: transparent !important;
    }

    .abilitys {
        flex-direction: column;
    }

    .abilitys>span {
        font-size: 13px !important;
    }

    .detals-display {
        display: block;
        background-image: url('') !important;
    }

    .imgPoke {
        /* margin-top: 0px !important; 
        margin: auto;  */
        margin-top: 40px !important;
        margin-right: 0px !important;
    }

    .img-details {
        object-fit: none;
        width: 100%;
        height: 100%;
    }

    .screen-one {
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }
}


@media (width: 768px) and (height: 1024px) {
    .imgPoke {
        margin-right: -2% !important;
        margin-top: 10% !important;
    }

    .container {
        width: 90% !important;
    }

    .img-details {
        width: 200px !important;
        height: 200px !important;
    }

    .screen-one {
        justify-content: center;
        align-items: center;
        align-content: center;
        /* display: flex; */
        flex-direction: column;
    }

    .footer {
        margin-top: 285px !important;
        height: 30px;
        font-size: 10px;
    }

    .footer>div>span {
        font-size: 13px;
    }
}

@media (width: 1024px) and (height: 1366px) {
    .imgPoke {
        margin-right: -2% !important;
        margin-top: 10% !important;
    }

    .container {
        width: 90% !important;
    }

    .img-details {
        width: 200px !important;
        height: 200px !important;
    }

    .screen-one {
        justify-content: center;
        align-items: center;
        align-content: center;
        /* display: flex; */
        flex-direction: column;
    }

    .footer {
        margin-top: 285px !important;
        height: 30px;
        font-size: 10px;
    }

    .footer>div>span {
        font-size: 10px;
    }
}

.format-screen-one {
    border: 0px solid black;
    /* height: 60%; */
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6fe0fc;
    background-image: linear-gradient(-90deg, #d7dadb, #babebf);
    box-shadow: inset 0 -3px 1px rgba(191, 194, 197, 0.66),
        inset 0 3px 4px #E7EAED,
        inset 6px 0 4px #E4E7EA,
        inset -7px 0 8px #E7EAEB,
        inset -14px 0 31px #FFFFFF,
        inset 23px 0 37px #B2B5B8,
        inset 0 22px 49px #ADB0B5;
}

.format-screen-two {
    border: 0px solid black;
    /* height: 40%; */
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6fe0fc;
    background-image: linear-gradient(-90deg, #d7dadb, #babebf);
    box-shadow: inset 0 -3px 1px rgba(191, 194, 197, 0.66),
        inset 0 10px 3px #E7EAED,
        inset 5px 0 3px #E4E7EA,
        inset -4px 0 3px #E7EAEB,
        inset -18px 0 36px #FFFFFF,
        inset 22px 0 37px #B2B5B8,
        inset 0 22px 45px #ADB0B5;
}

.space-height {
    height: 20px;
}

.screen-one {
    border: 10px solid #d7dadb;
    /* height: 60%; */
    width: 70%;
    border-radius: 3px;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 2px 0 2px #AAADB0,
        inset 0 -2px 2px #C7C9CC,
        inset -2px 0 2px #B6B8BB,
        inset 0 2px 2px rgba(0, 0, 0, 0.42),
        inset 0 2px 5px rgba(136, 139, 142, 0.35),
        0 2px 2px rgba(255, 255, 255, 0.75),
        2px 0px 2px rgba(255, 255, 255, 0.73);
    overflow: hidden;
}

.screen-two {
    border: 10px solid #d7dadb;
    height: 70%;
    width: 50%;
    border-radius: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 2px 0 2px #AAADB0,
        inset 0 -2px 2px #C7C9CC,
        inset -2px 0 2px #B6B8BB,
        inset 0 2px 2px rgba(0, 0, 0, 0.42),
        inset 0 2px 5px rgba(136, 139, 142, 0.35),
        0 2px 2px rgba(255, 255, 255, 0.75),
        2px 0px 2px rgba(255, 255, 255, 0.73);
    overflow: hidden;
}

.stick-control {
    border: 1px solid black;
}

.buttons-control {
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    /* flex-direction: column; */
    width: 200px;
}

.container-screen-two {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bt {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #C7C9CC;
    /* position: absolute; */
    border-radius: 5px;
    box-shadow: inset 2px 0 2px #AAADB0,
        inset 0 -2px 2px #C7C9CC,
        inset -2px 0 2px #B6B8BB,
        inset 0 2px 2px rgba(0, 0, 0, 0.42),
        inset 0 2px 5px rgba(136, 139, 142, 0.35),
        0 2px 2px rgba(255, 255, 255, 0.75),
        2px 0px 2px rgba(255, 255, 255, 0.73);
    overflow: hidden;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.bt-row {
    flex-direction: column;
}

.bt-row>.bt {
    margin: 50px 10px 50px 10px;

}

.bt>span {
    color: black;
    font-size: 20px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.stick-control {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #bdbdbd;
    box-shadow: inset 0px 0px 7px #AEACAC;
    border: 1px solid #bdbdbd;
    box-shadow: inset 2px 0 2px #AAADB0,
        inset 0 -2px 2px #C7C9CC,
        inset -2px 0 2px #B6B8BB,
        inset 0 2px 2px rgba(0, 0, 0, 0.42),
        inset 0 2px 5px rgba(136, 139, 142, 0.35),
        0 2px 2px rgba(255, 255, 255, 0.75),
        2px 0px 2px rgba(255, 255, 255, 0.73);
    overflow: hidden;
    margin: 10px 10px 10px 10px;
    text-align: center;
}